.SearchForm {
	width: 580px;
	padding: 20px 30px 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border: 4px solid rgb(130, 238, 202);
	border-top: none;
	border-radius: 0 0 4px 4px;

	div {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}

	input {
		font-size: 14px;
		font-weight: 600;
		padding: 8px 10px;
		height: 30px;
		width: 190px;
		background: rgb(230, 230, 230);
		border: none;
		margin-bottom: 10px;
		border-radius: 0px;
	}

	button {
		font-size: 14px;
		font-weight: 600;
		padding: 7px 20px;
		color: white;
		background: #fe5752;
		border: none;
		border-radius: 0px;
		transition: 0.2s;

		&:hover {
			background: #ff6536;
			transition: 0.2s;
		}

		&:focus {
			outline: none;
		}

		&:active {
			background: #be4a27;
		}
	}

	select {
		font-size: 14px;
		font-weight: 600;
		padding: 8px 10px;
		height: 30px;
		background: rgb(230, 230, 230);
		width: 143px;
		border: none;
		border-radius: 2px;
	}
}
