form {
	background: rgb(124, 124, 124);
	margin-top: 120px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.199);
}

.SearchForm {
	width: 800px;
	padding: 15px 20px 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 4px;

	.inputsSection {
		display: flex;
		align-items: flex-end;
		align-items: center;
	}

	input {
		font-size: 14px;
		font-weight: 600;
		padding: 8px 10px;
		height: 30px;
		width: 190px;
		border: none;
		border-radius: 2px;
		margin-left: 20px;
		transition: 0.3s;
	}

	button {
		font-size: 14px;
		font-weight: 600;
		padding: 4.5px 20px;
		color: white;
		background: #0202023d;
		border: 2px solid rgb(150, 183, 255);
		border-radius: 2px;
		transition: 0.2s;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.281);

		&:hover {
			background: #0000005d;
			transition: 0.15s;
		}

		&:focus {
			outline: none;
		}

		&:active {
			background: #00000088;
			transition: 0.15s;
		}
	}

	select {
		font-size: 14px;
		font-weight: 600;
		height: 30px;
		background: rgb(255, 255, 255);
		width: 120px;
		color: rgb(34, 34, 34);
		border: none;
	}
}
