body {
	margin: 0;
	// font-family: 'Aldrich', sans-serif;
	font-family: 'Montserrat', sans-serif;
	// font-family: 'Text Me One', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #000000;
	color: #ffffff;
	display: flex;
	justify-content: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
