.Nav {
	display: flex;
	justify-content: center;

	h2 {
		margin-right: 35px;
		font-size: 35px;
		margin-bottom: 20px;
		margin-top: 30px;
		border: 4px solid #9abbff;
		padding: 3px 20px;
		border-radius: 2px;
	}
}
